extends ../common/head.pug
    
block content
    include ../common/sideMenu.pug
    section
        h1= title
        #album 
            each file in album.fileNames
                img(src= album.staticFileDir + file)
