extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug


block append styles 
    link(rel="stylesheet", href="./styles/community.css?after")
    

block append libs 
    script(src="./libs/DataTables/datatable.min.css") 
    link(rel="stylesheet", href="./libs/DataTables/datatable.min.js")

block append scripts
    script(src="./javascripts/community.js?after")


block section
    section 
        .section-title
        
        .section-board
            table#board-table
                thead.thead
                    th 제목
                    th 작성자
                    th 작성일
                    th 조회수
                tbody.tbody

