extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug


block append libs 
    script(src="./libs/DataTables/datatables.min.js") 
    link(rel="stylesheet", href="./libs/DataTables/datatables.min.css")

block append styles 
    link(rel="stylesheet", href="./styles/community.css?after")
    
block append scripts
    script(src="./javascripts/community.js?after")


block section
    section 
        .section-title
            ul.warp-menu
                li 
                    a(href="") 게시판
                li 
                    a(href="") 실시간 채팅

        .section-board
            table#board-table.display(style="width:100%")
                thead.thead

                tbody.tbody
            button(onclick='location.href="/write"') 글쓰기
