extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug

block append headScripts 
    script(src="/socket.io/socket.io.js")

block append libs 
    script(src="./libs/DataTables/datatables.min.js") 
    link(rel="stylesheet", href="./libs/DataTables/datatables.min.css")

block append styles 
    link(rel="stylesheet", href="./styles/community.css?after")
    
block append scripts
    script(src="./javascripts/community.js?after")
    


block section
    section 
        .section-title
            ul.warp-menu
                li 
                    a#warp-board(href="#") 게시판
                li 
                    a#warp-chat(href="#") 실시간 채팅

        .section-board
            table#board-table.display(style="width:100%")
                thead.thead

                tbody.tbody
            button#write 글쓰기

        .section-chat
            #chat-list
                -for(let i = 0; i < 20; ++i)
                    p=i + 'ㅋㅋㅋㅋzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzdfasdfㄴㅇ라부리ㅏㅇ뤂ㅇㄴ;ㅣ뤂ㅎ이ㅏ러ㅣ라ㅓㅇ니;런ㅇ리ㅏㄴ어리ㅏㄴ우리ㅏ;ㄴㅇ'
            input#chat-input(type="text")

