extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug

block append headScripts 
    script(src="/socket.io/socket.io.js")

block append libs 
    script(src="./libs/DataTables/datatables.min.js") 
    link(rel="stylesheet", href="./libs/DataTables/datatables.min.css")

block append styles 
    link(rel="stylesheet", href="./styles/community.css?after")
    
block append scripts
    script(src="./javascripts/community.js?after")
    


block section
    section 
        .section-title
            ul.warp-menu
                li 
                    a#warp-board(href="#") 게시판
                li 
                    a#warp-chat(href="#") 실시간 채팅

        .section-board
            table#board-table.display(style="width:100%")
                thead.thead

                tbody.tbody
            button#write 글쓰기

        .section-chat
            ul#chat-list
            #chat-input-container
                span 닉네임 : 
                input#chat-user-name(value=userUniqueName)
                input#chat-input(type="text")
                button#chat-send 보내기

    //- 스크립트에서 데이터 받는 방법
    script.
        const userColor= '#{userColor}';
        console.log(userColor);