extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug

block append styles
    link(rel="stylesheet", href="./styles/kpop.css?after")

block append scripts
    script(src="./javascripts/kpop.js?after") 

block section
    section 
        .section-history

        .section-cheering