extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug

block append headScripts 
    script(src="./libs/DataTables/datatables.min.js")

block append styles
    link(rel="stylesheet" href="./libs/DataTables/dataTables.min.css")
    link(rel="stylesheet" href="./styles/kpop.css?after")

block append scripts
    script(src="./javascripts/kpop.js?after") 

block section
    section 
        .section-history
            .line
                .history-container
                    .history-content.history-left
                        img(src="./images/kpop/1970.jpg")
                        ul
                            p.history-content-title 1970
                            p.history-content-text 1980년대 초반 이전까지는 한국의
                            P.history-content-text 대중음악은 팝의 영향력 지배하에
                            P.history-content-text 있었다고 정리할 수 있다.
                        
                    .history-content.history-right
                        img(src="./images/kpop/1980.jpg")
                        ul
                            p.history-content-title 1980
                            p.history-content-text 대한민국의 경제가 발전하면서 이때
                            P.history-content-text 부터 20대 대학생들이 새로운 구매
                            P.history-content-text 자로 떠오르기 시작한다. 통기타, 
                            P.history-content-text 청바지로 대표되는 청년문화가 도래
                            P.history-content-text 했고, 대중음악은 팝의 영향력 지배
                            P.history-content-text 하에 있었다고 정리할 수 있다.

                    .history-content.history-left
                        img(src="./images/kpop/1990.jpg")
                        ul
                            p.history-content-title 1990
                            p.history-content-text 1990년대 초중반의 대중음악을 이야
                            p.history-content-text 기를 할 때는 서태지와 아이들을 빼
                            p.history-content-text 놓을 수가 없었다. 이들이 데뷔한 
                            p.history-content-text 1992년을 기점으로 대한민국 아이돌
                            p.history-content-text 들과 아이돌 문화가 생성되기 시작했
                            p.history-content-text 다. 

                    .history-content.history-right
                        img(src="./images/kpop/2000.jpg")
                        ul
                            p.history-content-title 2000
                            p.history-content-text 2000년대 초반부터 1세대 아이돌 그
                            p.history-content-text 룹이 퇴장하고부터는 다른 식의 가수
                            p.history-content-text 들이 많이 등장하기 시작했다. 우선
                            p.history-content-text 여성 가수 쪽에서는 핑클, S.E.S.,
                            p.history-content-text 베이비복스가 퇴장하고 난 뒤엔 어린
                            p.history-content-text 여성 솔로 가수들이 활발한 활동으로
                            p.history-content-text 인기를 얻었다.

                    .history-content.history-left
                        img(src="./images/kpop/2010.jpg")
                        ul
                            p.history-content-title 2010
                            p.history-content-text 2010년에는 여성 솔로 쪽에서는 아이
                            p.history-content-text 유라는 가수가 등장하여 기존의 체제
                            p.history-content-text 를 흔들면서 2020년대까지 주름잡고 
                            p.history-content-text 있는 상황이 되었다. 하지만 아이돌 
                            p.history-content-text 시장은 카라의 일본 진출 성공 이후
                            p.history-content-text 에는 대부분 일본으로 진출이 일상
                            p.history-content-text 화가 되면서 국내 활동이 주가 아닌 
                            p.history-content-text 상황이 이어지기 시작했다. 


                    .history-content.history-right
                        img(src="./images/kpop/2020.jpg")
                        ul
                            p.history-content-title 2020
                            p.history-content-text 2020년은 BTS의 대아이돌 시대
                    


