extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug

block append styles 
    link(rel="stylesheet", href="./styles/main.css")

block append scripts 
    script(src="./javascripts/main.js") 

block section
    section
        #section-video 
            video(autoplay muted src="./videos/iu_celebrity.webm") 
            video(autoplay muted src="./videos/bts_dynamite.webm") 
            
        #section-message
            
        #section-album

        //- #album 
            //- each file in album.fileNames
                img(src= album.staticFileDir + file)



