extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug


block section
    section
        #section-video 

        #section-message

        #section-album

        //- #album 
            //- each file in album.fileNames
                img(src= album.staticFileDir + file)

block append scripts 
    script(src="./javascripts/main.js") 