extends ./common/index.pug
include ./common/header.pug
include ./common/sideMenu.pug
include ./common/footer.pug

block append styles 
    link(rel="stylesheet", href="./styles/main.css?after")

block append scripts 
    script(src="./javascripts/main.js?after") 

block section
    section
        #section-video 
            video(autoplay muted) 

        #section-stock
            .bg-overlay
                #stock-content
                    h2#stock-title 
                        span 주가 정보
                    .rolling-box 
                        ul.rolling-list
                            li
                                //- name, nowVal, diff, rate
                                - for(let i = 0; i < 4; ++i)
                                    span
                            li
                                - for(let i = 0; i < 4; ++i)
                                    span 
            
        #section-album
            .bg-overlay
                .album-slick             
                    - for(let i = 0; i < 6; ++i)
                        div
                            h3=i

        #section-message
            .bg-overlay


        
            



