block append styles
    link(rel="stylesheet", href="./styles/footer.css")

block footer
    footer 
        #footer-content
            span KPP
            span 대표 : 부경준 
            span 서울시 관악구
            br
            span 대표 연락처 : 010-4542-3642 
            span 이메일 : qnrudwns123@naver.com 