block append styles
    link(rel="stylesheet", href="./styles/header.css")

block header
    header
        #header-logo
            a(href='/')
                img(src="./images/icons/main_logo.png" )

        