block append styles
    link(rel="stylesheet", href="./styles/header.css")

block append scripts
    script(src="./javascripts/header.js") 

block header
    header
        #header-logo= title
        #chart 
            span 차트

        