doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=3.0")
        
        if title
            title=title
        else
            title KPP

        //- 파비콘
        <link rel=" shortcut icon" href="./images/icons/favicon.png">
        <link rel="icon" href="./images/icons/favicon.png">

        //- 스타일 시트
        block styles
            link(rel="stylesheet", href="./styles/reset.css?after")
            link(rel="stylesheet", href="./styles/common.css?after")
            
        //- 라이브러리
        block libs
            //- jQeury
            script(src="./libs/jquery/jquery-3.6.0.min.js?after") 
            //- 폰트 이미지
            link(rel="stylesheet" href="./libs/fontawesome-free-5.15.2-web/css/all.min.css")
            //- css 애니메이션 효과
            link(rel="stylesheet" href="./libs/animate.css-4.1.1/animate.min.css?after")
            //- 슬라이더 기능 제공
            link(rel="stylesheet" href="./libs/slick-1.8.1/slick/slick.css?after")
            script(src="./libs/slick-1.8.1/slick/slick.min.js?after")
            //- Alert의 이쁜 기능
            script(src="./libs/SweetAlert2/sweetalert2.all.min.js") 

        //- 헤드 스크립트
        block headScripts
            script(src="./javascripts/common.js?after") 

    body
        block header
        block section
        block sidebar
        block footer
        block scripts
        


