/* 타이틀 메뉴 */
section {
    min-height: 80vh;
}

.section-title {
    margin: 3vw auto;
    width: 100%;
}
.warp-menu {
    display: flex;
    justify-content: center;
}
.warp-menu li {
    margin-right: calc(1em + 1vw);
    font-size: calc(1.5px + 1vw);
    font-weight: 700;
}
.warp-menu li::after {
    position: relative;
    display: block;
    content: '';
    left: 50%;
    bottom: 0;
    margin-top: 3px;
    width: 0px;
    height: 2px;
    background-color: blue;
    font-size: 0;
    transition: all 0.3s;
}
.warp-menu li:hover::after {
    left: 0;
    width: 100%;
}

/* 게시판 */
.section-board {
    margin: 5vw auto;
    width: 80vw;
    min-height: 25vw;
    font-size: calc(0.1em + 0.8vw);
}
#board-table {
    table-layout: fixed;
}
#board-table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: calc(0.1em + 0.7vw);
}
#board-table th {
    font-size: calc(0.1em + 0.8vw);
}
.thead {
    background-color: #202020;
    color: #e9e9e9;
}

.column-title {
    width: 50% !important;
}
.column-title:hover a {
    color: #0066ff;
}
.column-author {
    width: 15% !important;
}
.column-dateCreated {
    width: 15% !important;
    text-align: center;
}
.column-views {
    width: 10% !important;
    text-align: center;
}

/* ---------------------------------------------------------------------------- */
/* ATR Styles Here - Fix Double Caret for custom-select */
/* See: https://stackoverflow.com/questions/51077573/bootstrap-4-custom-select-class-showing-two-overlapping-arrow-styles */
/* See: https://stackoverflow.com/questions/48956992/default-caret-appearing-over-top-of-custom-select-carets-in-bootstrap-4 */
/* ---------------------------------------------------------------------------- */
/* .atr-remove-double-caret {  
	-webkit-appearance: none;  
	-moz-appearance: none;		
  } */
/* ---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */
/* ATR Styles Here - DataTablesBS4 */
/* ---------------------------------------------------------------------------- */
/* #dtPluginExample.table.table-striped.table-hover.dt-responsive.nowrap td,
  #dtPluginExample.stripe.hover.row-border.dt-responsive.nowrap td {
	font-size: 0.90rem !important; 
  } */
/* ---------------------------------------------------------------------------- */
