/* 메인 페이지의 공통적인 부분 */
/* div {
    border: 1px solid black;
} */
/* 비디오 */
/* .post {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 0;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden; */
#section-video > video {
    width: 100vw;
    max-width: 100%;
}

/* 주가 정보 */
#section-stock {
    height: 100px;
    margin: 50px 0px;
}
.rolling-box {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    width: 600px;
    height: 40px;
    text-align: center;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}

.rolling-list {
    width: 100%;
    height: 100%;
}
.rolling-list li {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 5%;
    margin-top: 10px;
    width: 90%;
    height: 100%;
    transition: 0.5s;
}

/* .card-sliding {
    top: 0 !important;
    z-index: 100 !important;
}

.card-sliding-after {
    top: -100% !important;
    z-index: 10 !important;
}

.rolling-box ul li p {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

.before-slide {
    transform: translateY(100%);
}

.after-slide {
    transform: translateY(0);
} */

/* 메세지 */
#section-message {
    height: 400px;
}

/* 앨범 */
#section-album {
    margin: 0 auto;
    width: 90vw;
    height: 400px;
}
