#gnb-sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    font-size: 18px;
    font-weight: 600;
    background: skyblue;
    z-index: 5;
}
#side-content {
    width: 0px;
    transition: width 0.5s ease-in-out;
}
.sideMenu-on {
    width: 400px !important;
}

/* 사이드 바 ON-OFF 버튼 */
#btn-sideOnOff {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    color: skyblue;
    vertical-align: middle;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translate(-50px, -25px);
}
#btn-sideOnOff:hover {
    color: #0066ff;
}

/* 사이드 바 상단 영역  */
#side-top {
}

/* 사이드 바 메인 메뉴 */
#side-nav-main {
    margin-left: 50px;
    margin-top: 50px;
    vertical-align: baseline;
}

#side-main-list {
    line-height: 50px;
}
/* 유저 정보 데이터 */
#side-userInfo {
    visibility: hidden;
    margin-left: 50px;
    margin-top: 50px;
}
#user-name {
    font-weight: 700;
    color: rgb(42, 127, 255);
}

/* 사이드 바 하단 메뉴 */
#side-nav-bottom {
    margin-left: 50px;
    margin-top: 70px;
}
#side-bottom-list::after {
    display: block;
    content: '';
    clear: both;
}
#side-bottom-list > li {
    display: inline-block;
}
#side-bottom-list > li > a {
    padding-right: 20px;
}
